/* .results-page {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
} */
 .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Header */
.header {
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-weight: 600;
  background: #0f172a;
  color: white;
}

/* Main content */
.main {
  flex: 1;
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  overflow: hidden; /* important for AG Grid */
}

/* Footer */
.footer {
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  background: #f1f5f9;
  color: #334155;
}
